.ion-searchbar{
    --background: #fff;
    --color: #333;
    --placeholder-color: #888;
    --icon-color: #007bff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 20px 10px 20px 10px !important;
    --border-radius: 50px;
}
.ion-header-colr {
    --background: #0054e9;  /* Tomato color */
  }